
<%- include('header') -%>

<body>
  
<div class="jumbotron text-center">

  <h1> Suivi sportif</h1>
  <p>Tout votre suivi sportif en ligne.</p> 
</div>
  
<div class="container p-3 my-3 bg-dark text-white">
  <div class="row">
    <div class="col-sm-4">
    
      <h3>PROGRAMME</h3>
      <p>Créer vos propres programmes</p>
      <p>Vous personnalisez tout de A à Z</p>
    </div>
    <div class="col-sm-4">
      <h3>EXERCICE</h3>
      <p>Parmis une grande base donnée..</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>EVOLUTION</h3>        
      <p>Des graphes hauts en couleurs</p>
      <p>accès à votre poids..</p>
    </div>
  </div>
</div>
<div class="container">
<img class="img-fluid" src="img/im2.jpg" alt="Chania">
</div>


<%- include('footer') -%>
</body>
</html>