
<%- include('header') -%>

<body>
  
<div class="jumbotron text-center">
<title> Suivi sportif </title>
  <h1> Suivi sportif</h1>
  <p>Tout votre suivi en ligne.</p> 
</div>
  
<div class="container p-3 my-3 bg-dark text-white">
  <div class="row">
    <div class="col-sm-4">
    
      <h3>PROGRAMME</h3>
      <p>Créez et personnalisez de A à Z vos propres programmes</p>
    </div>
    <div class="col-sm-4">
      <h3>EXERCICE</h3>
      <p>Accéder à une grande base de données contenant un grand nombre d'exercices</p>
      <p>Filtrer vous mêmes les exercies selon vos propres critères</p>
    </div>
    <div class="col-sm-4">
      <h3>EVOLUTION</h3>        
      <p>Des graphes hauts en couleurs pour suivre votre évolution</p>
      <p>accès à votre poids..</p>
    </div>
  </div>
</div>
<div class="container">
<img class="img-fluid" src="img/im2.jpg" alt="Chania">
</div>


<%- include('footer') -%>
</body>
</html>