<%- include('header') -%>
<link rel="stylesheet" type="text/css" href="/css/style.css" media="all" />

<body>

  <div class="jumbotron text-center">
    <title> Suivi sportif </title>
    <h1> Suivi sportif</h1>
    <p>Tout votre suivi en ligne.</p>
    <div class="container p-3 my-3 text-white">
      <div class="row">
        <div class="col-sm-4 bg-info">

          <h3 class="text-center">Programme</h3>
          <p>Créez et personnalisez de A à Z vos propres programmes</p>
          <p>Organisez les en séances et ajoutez tous vos exercices préférés</p>
          <img class="img-fluid" src="img/a.jpg" alt="imgIndex1" width="150" height="150">
        </div>
        <div class="col-sm-4 bg-danger ">
          <h3 class="text-center">Exercice</h3>
          <p>Accéder à une grande base de données contenant un grand nombre d'exercices</p>
          <p>Filtrer vous mêmes les exercices selon vos propres critères et besoins</p>
          <img class="img-fluid" src="img/Icone.png" alt="imgIndex2" width="150" height="150">
        </div>
        <div class="col-sm-4 bg-secondary">
          <h3 class="text-center">Evolution</h3>
          <p>Des graphes hauts en couleurs pour suivre votre évolution</p>
          <p>Suivez vos statitiques sur chacun de vos exercices</p>
          <img class="img-fluid" src="img/b.png" alt="imgIndex3" width="150" height="150">
        </div>
      </div>
    </div>
  </div>
  <%- include('footer') -%>
</body>

</html>