<%- include('header') -%>

<!doctype html>
<html lang="fr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>


<body>



<div class="jumbotron text-center">

  <h1> Suivi sportif</h1>
  <p>Tout votre suivi sportif en ligne.</p> 
</div>
  
<div class="container p-3 my-3 bg-dark text-white">
  <div class="row">
    <div class="col-sm-4">
    
      <h3>PROGRAMME</h3>
      <p>Créer vos propres programmes</p>
      <p>Vous personnalisez tout de A à Z</p>
    </div>
    <div class="col-sm-4">
      <h3>EXERCICE</h3>
      <p>Parmis une grande base donnée..</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>EVOLUTION</h3>        
      <p>Des graphes hauts en couleurs</p>
      <p>accès à votre poids..</p>
    </div>
  </div>
</div>
<div class="container">
<img class="img-fluid" src="img/im2.jpg" alt="Chania">
</div>


<%- include('footer') -%>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>



</html>