.fade-out {
    animation: fadeOut ease-in 3s;
    opacity: 0;
  }

  @keyframes fadeOut {
    0% {
      opacity:1;
    }
    100% {
      opacity:0;
    }
  }

  .alert {
    margin-top: 0px;
    margin-bottom: 5px;
  }