<%- include('header') -%>

<body>
  
<div class="jumbotron text-center">

  <h1> <%=resDB[0].Nom %> </h1>
</div>

<div class="container">
  <form action="/program/<%=resDB[0].IDExercice %>" method="post">
   <br></br>
   <div class="input-group mb-3">
     <input type="text" name="name" placeholder="Poids maximum" class="form-control" required>
     <input type="text" name="name" placeholder="Date format (MM/DD)" class="form-control" required>
     <div class="input-group-append">
       <button class="btn btn-primary" type="submit" id="button-addon2"> Ajouter </button>
     </div>
   </div>
 </form>
 
 
 
 
  <div class="list-group">    
     <a class="button list-group-item list-group-item-action">
       <div class="row">
         <div class="col-4">
       <p class="text-left font-weight-bold">Poids</p></div>
       <div class="col-4">
       <p class="text-right font-italic">Date &nbsp;</p></div> 
       <div class="col-4 text-right">
        <form action="/" method="get">
         <button type="submit" class="btn btn-danger"> Supprimer </button>
        </form> 
       </div>
     </div>
     </a>

 </div>
  
 </div>


<%- include('../footer') -%>
</body>
</html>